<ul>
    <li>getSymbol: returns company ticker symbol</li>
    <li>getCompanyName: returns company name.</li>
    <li>getPrimaryExchange: returns the primary exchange of the current symbol</li>
    <li>getcalculationPrice</li>
    <li>getopen</li>
    <li>getopenTime</li>
    <li>getclose</li>
    <li>getcloseTime</li>
    <li>gethigh</li>
    <li>getlow</li>
    <li>getlatestPrice</li>
    <li>getlatestSource</li>
    <li>getlatestTime</li>
    <li>getlatestUpdate</li>
    <li>getlatestVolume</li>
    <li>getvolume</li>
    <li>getiexRealtimePrice</li>
    <li>getiexRealtimeSize</li>
    <li>getiexLastUpdated</li>
    <li>getdelayedPrice</li>
    <li>getdelayedPriceTime</li>
    <li>getextendedPrice</li>
    <li>getextendedChange</li>
    <li>getextendedChangePercent</li>
    <li>getextendedPriceTime</li>
    <li>getpreviousClose</li>
    <li>getpreviousVolume</li>
    <li>getchange</li>
    <li>getchangePercent</li>
    <li>getiexMarketPercent</li>
    <li>getiexVolume</li>
    <li>getavgTotalVolume</li>
    <li>getiexBidPrice</li>
    <li>getiexBidSize</li>
    <li>getiexAskPrice</li>
    <li>getiexAskSize</li>
    <li>getmarketCap</li>
    <li>getweek</li>2High;
    <li>getweek</li>2Low;
    <li>getytdChange</li>
    <li>getpeRatio</li>
    <li>getlastTradeTime</li>
    <li>getisUSMarketOpen</li>
</ul>





